body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Flexcontainer {
  display: flex;
  border: 2px solid #4b464a;
  border-radius: 0.5em;
  overflow: hidden;
  width: 600px;
  height: 300px;
}

.image-box {
  flex: 1;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-box {
  flex: 1;
  padding: 20px;
  font-family: sans-serif;
}
